{% extends "BlogLibros/base.html" %}
{% load static %}

{% block main %}

    <p style="color: rgb(243, 105, 13); text-shadow: 2px 2px 6px rgb(245, 243, 243)">
        Mi nombre es Ana Melo, tengo 38 años, soy licenciada en Física Médica, trabajo en Radioterapia. En mi trabajo tengo algo de contacto con la programación, entonces quería aprender algo un poco más sólido. Por eso es que me anote en este curso, esta es la primera vez que hago un proyecto con Python usando Django, estoy muy feliz por lo que logre! Agradecida a los profes y mi tutor, por la paciencia y todo lo que me enseñaron. </p> 

{% endblock main %}