{% extends 'BlogLibros/base.html' %}
{% load static %}

{% block titulo %} Libros  {%endblock titulo%}

{% block main %}

    {% for libro in libros %}
        <h1 style="color:BurlyWood"> Libro buscado: </h1>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">            
                    <li style="color:Bisque"> Título: {{ libro.titulo }} </li>
                    <li style="color:Bisque"> Autor: {{ libro.autor }}  </li>
                    <li style="color:Bisque"> Genero: {{ libro.genero }} </li>
                </div>
            </div>
    {% endfor %}

{% endblock main %}
