{% extends 'BlogLibros/base.html' %}
{% load static %}

{% block main %}
    <h1 style="color: OrangeRed"> Editar perfil </h1>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table style="color: LightSalmon">
                    {{ mi_form.as_table }}
                </table>
            
                <input type="submit" value="Actualizar">
            </form>
        </div> 
    </div> 
{% endblock main %}





